<div class="col-sm-12">
    <h4>scenario</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Shock</th>
                    <th>Scope</th>
                    <th></th>
                </tr>
                </thead>
                <tbody ng-repeat="s in vm.Scenario().factors" scope-table canedit="true" scopes="s"></tbody>
            </table>
        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>